.main {
    display: flex;
    background-image: url("./../icons/son.jpg");
    background-size: cover; /* Arka plan resmini tamamen kapsar */
    background-position: center; /* Resmi ortalar */
    background-repeat: no-repeat; /* Tekrar etmez */
    width: 97%;
    height: 65vh;
    margin-left: 1.5%;
    margin-top: 10px;
    border-radius: 20px;
    transition: transform 0.3s ease-in-out;

}

.main:hover{
    transform: scale(1.002);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}

.container {
    max-width: 70%;
    margin-top: 70px;
    padding: 70px;
}

.fish-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px 5px 20px 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}


.card {
    border: none;
    border-radius: 5px;
    padding:10px;
    transition: transform 0.4s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background: linear-gradient(to top, blue, white);
}

.card:hover{
    transform: scale(1.1);
}

.text-center {
    text-align: center;
    padding: 5px;
    color: white;
}

.title {
    margin-left: 15px;
    margin-top: 15px;
    color: white;
}

.sub-main {
    display: flex; /* Flexbox kullan */
    justify-content: space-between; /* Sütunlar arasında boşluk bırak */
    padding: 20px;
    margin-left: 24%;
}

